*{
    padding:0px;
    margin:0px;
}
body{
    width: 100%;
    height:150vh;
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mLD{
    display: flex;
    height: 290px;
    justify-content: center;
    overflow: hidden;
}
.mL img{
    width: 430px;
    height:270px;
    transition:all 0.5s ease;
}
.main-header{
    width: 100%;
    height: 8vh;
    background-color: rgba(41, 39, 39, 0.281);
    top:0px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-header img{
  width:30px;
  height: 30px;
  border-radius:50%;
}

.left-h ul{
    display: flex;
    gap:50px;
}
.left-h li{
    list-style: none;
}
.left-h>nav>ul>li>a{
    text-decoration: none;
    color: white;
}
.left-h>nav>ul>li>.a1{
    text-decoration:none;
}

.left-h>nav>ul>li>a:hover{
    background-color:white;
    color: black;
    border-radius: 3px;
}
.right-h{
    padding-left: 800px;
}
.right-h ul{
    display: flex;
    gap:50px;
}
.right-h li{
    list-style: none;
}
.right-h>ul>li>a{
    text-decoration: none;
    color: white;
}

.right-h>ul>li>a:hover{
    color: green;
}


.p6{
    margin-left:60px;
    color: white;
    font-size:large;
}

.box{
    width:140px;
    height:210px;
    border-radius:7px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    transition: transform 0.5s ease;
}
.box img{
    width:140px;
    height:210px;
    transition: transform 0.5s ease;
}
.box p{
    height:30%;
    background-color: black;
    color: white;
    opacity: 0.7;
    border-radius:3px;
    text-align: center;
    position: absolute;
    width: 100%;
    transform:translateY(50px);
    transition: transform 0.5s ease;
}
.box:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}
.box:hover div{
    background-color: rgb(34, 31, 31,0.546);
}
.box:hover p{
    transform:translateY(-65px);
    transition: transform 0.5s ease;
}

.hero-scroll{
    margin-left:50px;
}
.hero-scrollD{
    width: 100%;
  height:210px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  gap:10px;
  overflow-x:scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.mLD img{
   animation: rightS 20s linear infinite;
}
.mLD>a:hover img{
  width:460px;
height:285px;
  transition:all 0.5s ease;
}
@keyframes rightS{
   0%{
     transform: translateX(400px);
   }
   100%{
     transform: translateX(-350px);
   }
}
@media screen and (max-width:1300px){
    .right-h{
        padding-left:350px;
    }
}
@media screen and (max-width:1000px){

    .right-h{
        padding-left: 300px;
    }
}
@media screen and (max-width:860px){
    .right-h{
        padding-left:50px;
    }
}
@media screen and (max-width:700px){
    .p6{
    margin-left:30px;
    color: white;
    font-size:large;
}
    .right-h{
        padding-left:10px;
    }
}
@media  screen and (max-width:640px) {
    .mL img{
        width:300px;
        height: 300px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
}
@media  screen and (max-width:483px) {
    .mLD{
    height: 200px;
}
.mLD img{
    width:310px;
    height:200px;
    transition:all 0.5s ease;
}
.mLD>a:hover img{
  width:310px;
    height:200px;
  transition:all 0.5s ease;
}
        .hero-scroll{
    margin-left:20px;
}
.hero-scrollD{
  height:191px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
    .p6{
    margin-left:25px;
    color: white;
    font-size:large;
}
      .left-h ul{
        gap:35px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:20px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
}

@media  screen and (max-width:440px) {
.main-view{
    width: 100%;
    height: 190px;
}
    .box{
    width:130px;
    height:190px;
    border-radius: 4%;
    position: relative;
    overflow: hidden;
}

.box img{
    width:130px;
    height:190px;
}
.box:hover img{
    width: 131px;
    height: 192px;
    transition: all 0.6s ease;
}
}
@media  screen and (max-width:410px) {
    .hero-scroll{
    margin-left:20px;
}
.hero-scrollD{
  height:168px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.p6{
    margin-left:20px;
    color: white;
    font-size:large;
}
.main-view{
    width: 100%;
    height: 168px;
}
    .box{
    width:108px;
    height:168px;
    border-radius:5px;
    position: relative;
    overflow: hidden;
}
.box img{
    width:108px;
    height:168px;
}
.box:hover img{
    width: 109px;
    height: 171px;
    transition: all 0.6s ease;
}
}
@media  screen and (max-width:397px) {
    .hero-scroll{
    margin-left:20px;
}
.hero-scrollD{
  height:168px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  overflow-x: scroll;
  scrollbar-width: none;
}

  .left-h ul{
        gap:30px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:20px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
}
@media  screen and (max-width:369px) {
  .left-h ul{
        gap:25px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:18px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
}




