<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-RATINGS</title>
    <link rel="stylesheet" href="ani.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll/bundled/locomotive-scroll.min.js"></script>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header class="main-header">
        <img src="../assests/logo.jpg" alt="">
        <div class="left-h">
          <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="Movies.html">Movies</a></li>
                <li><a href="web-series.html">Series</a></li>
                <li><a href="Anime.html">Anime</a></li>
                <li><a href="#" class="a1">TV</a></li>
            </ul>
          </nav>
        </div>
        <div class="right-h">
            <ul>
                <li><a href="../components/login.html"class="a2" ><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><a href="#" class="a2"><i class="fa fa-search" aria-hidden="true"  ></i></a></li>
                <li><a href="#" class="a2"><i class="fa fa-bell" aria-hidden="true"  ></i></a></li>
            </ul>
        </div>
    </header>
    <br>
    <section class="mL">
     <div class="mLD">
        <a href=""><img style="width: 80px;height: 0px;"></a>
        <a href="../componentsAni/naruto.html"><img src="../assests/nrt1.png"></a>
        <a href=""><img style="width: 80px;height: 0px;"></a>
        <a href="../componentsAni/demon.html"><img src="../assests/dm1.png"></a>
        <a href=""><img style="width: 80px;height: 0px;"></a>
        <a href="../componentsAni/jujutsu.html"><img src="../assests/jut1.png"></a>
        <a href=""><img style="width: 80px;height: 0px;"></a>
        <a href="../componentsAni/ponyo.html"><img src="../assests/pon1.png"></a>
     </div>
    </section>
    <h2 class="p6">Anime</h2>
    <section class="hero-movies">
        <div class="hero-section">
            <div class="box"><a href="../componentsAni/naruto.html"><img src="https://m.media-amazon.com/images/M/MV5BZTNjOWI0ZTAtOGY1OS00ZGU0LWEyOWYtMjhkYjdlYmVjMDk2XkEyXkFqcGc@._V1_QL75_UY562_CR1,0,380,562_.jpg" alt="Naruto"><p>Naruto<br>(2002-2007)</p></a></div>
            <div class="box"><a href="../componentsAni/suzume.html"><img src="https://m.media-amazon.com/images/M/MV5BODhkNDhmNzktODFmMC00NDZiLWEzN2UtY2YwYzgzYTVlMWZmXkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Suzume"><p>Suzume<br>(2022)</p></a></div>
            <div class="box"><a href="../componentsAni/jujutsu.html"><img src="https://m.media-amazon.com/images/M/MV5BMjBlNTExMDAtMWZjZi00MDc5LWFkMjgtZDU0ZWQ5ODk3YWY5XkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Jujutsu-Kaisen"><p>Jujutsu Kaisen<br>(2020)</p></a></div>
            <div class="box"><a href="../componentsAni/spirited.html"><img src="https://m.media-amazon.com/images/M/MV5BNTEyNmEwOWUtYzkyOC00ZTQ4LTllZmUtMjk0Y2YwOGUzYjRiXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="Spirited-Away"><p>Spirited Away<br>(2001)</p></a></div>
            <div class="box"><a href="../componentsAni/ponyo.html"><img src="https://m.media-amazon.com/images/M/MV5BZDkzMzQ5ZmQtOTA3MC00MjhiLTk5M2UtNzk0MjEzZmVjN2UxXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="Ponyo"><p>Ponyo<br>(2008)</p></a></div>
            <div class="box"><a href="../componentsAni/demon.html"><img src="https://m.media-amazon.com/images/M/MV5BNzEzYjhkYTctMWNmZS00MTc5LWI4OWUtZjFkNzNkYTNkMTJlXkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Demon-Slayer: Kimetsu no Yaiba - Mugen Train"><p>Demon Slayer: Kimetsu no Yaiba - Mugen Train</p></a></div>
            <div class="box"><a href="../componentsAni/tokyo.html"><img src="https://m.media-amazon.com/images/M/MV5BNmEzNDcwYzQtMzM0Zi00YWYxLTkzOWEtY2Y0ZTJiNDVjM2NkXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="Tokyo Godfathers"><p>Tokyo Godfathers<br>(2003)</p></a></div>
            <div class="box"><a href="../componentsAni/patema.html"><img src="https://m.media-amazon.com/images/M/MV5BNjkzN2NlOTAtYTdiYS00Mzk4LWFjNDAtMzIyOTQzNTAyNDM5XkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Patema Inverted"><p>Patema Inverted<br>(2013)</p></a></div>
            <div class="box"><a href="../componentsAni/weathering.html"><img src="https://m.media-amazon.com/images/M/MV5BMmJiYWI4ZjktMzgyZS00MjBiLThmOTYtZWJmOTUzOTFkMTFiXkEyXkFqcGc@._V1_QL75_UY562_CR3,0,380,562_.jpg" alt="Weathering with You"><p>Weathering with You<br>(2019)</p></a></div>
        </div>
        </div>
    </section>
    <br>
    <h2 class="p7">Drama</h2>
    <section class="hero-scroll">
          <br>
        <div class="hero-scrollD">
            <div class="box"><a href="../componentsAni/patema.html"><img src="https://m.media-amazon.com/images/M/MV5BNjkzN2NlOTAtYTdiYS00Mzk4LWFjNDAtMzIyOTQzNTAyNDM5XkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Patema Inverted"><p>Patema Inverted<br>(2013)</p></a></div>
            <div class="box"><a href="../componentsAni/tokyo.html"><img src="https://m.media-amazon.com/images/M/MV5BNmEzNDcwYzQtMzM0Zi00YWYxLTkzOWEtY2Y0ZTJiNDVjM2NkXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="Tokyo Godfathers"><p>Tokyo Godfathers<br>(2003)</p></a></div>
            <div class="box"><a href="../componentsAni/suzume.html"><img src="https://m.media-amazon.com/images/M/MV5BODhkNDhmNzktODFmMC00NDZiLWEzN2UtY2YwYzgzYTVlMWZmXkEyXkFqcGc@._V1_QL75_UX380_CR0,4,380,562_.jpg" alt="Suzume"><p>Suzume<br>(2022)</p></a></div>
            <div class="box"><a href="../componentsAni/weathering.html"><img src="https://m.media-amazon.com/images/M/MV5BMmJiYWI4ZjktMzgyZS00MjBiLThmOTYtZWJmOTUzOTFkMTFiXkEyXkFqcGc@._V1_QL75_UY562_CR3,0,380,562_.jpg" alt="RRR"><p>Weathering with You<br>(2019)</p></a></div>
        </div>
    </section>
    <script src="../script.js"></script>
</body>
</html>