<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="log-div">
        <div class="logo1">
        <img src="../assests/logo.jpg" class="img1">
        <p>E-Ratings</p>
        </div>
        <div class="in1">
        <lable>Name</lable>
        <input type="text" placeholder="Name" class="d1" id="name">
        </div>
        <div class="in1">
        <lable>Password</lable>
        <input type="password" placeholder="Password" class="d1" id="password">
        </div>
        <a href="#" id="submit1"><button id="submit">Login</button></a>
        <p id="disp"></p>
    </div>
    <script src="../index.js"></script>
</body>
</html>