body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img1{
    width:30px;
    height: 30px;
    border-radius: 50%;
}
.log-div{
    margin: auto;
    margin-top: 200px;
    width: 300px;
    height: 300px;
    background-color: rgb(27, 25, 25);
    border: 1px solid white;
    border-radius:10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:20px;
}
.logo1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
    color: white;
}
.in1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.d1{
    width:200px;
    height: 22px;
    border: 1px hidden;
   border-radius:5px;
}

#submit{
    width:65px;
    height: 25px;
    color: white;
    font-size: larger;
    border: 1px hidden;
    border-radius: 20px;
    background-color: green;
}
#submit:hover{
    background-color:white;
    color:black ;
}
#disp{
    color: red;
}
lable{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
