*{
    padding:0px;
    margin:0px;
}
body{
    width: 100%;
    height: 150vh;
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header{
    width: 100%;
    height: 8vh;
    background-color: rgba(41, 39, 39, 0.281);
    top:0px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-header img{
  width:30px;
  height: 30px;
  border-radius:50%;
}

.left-h ul{
    display: flex;
    gap:50px;
}
.left-h li{
    list-style: none;
}
.left-h>nav>ul>li>a{
    text-decoration: none;
    color: white;
}
.left-h>nav>ul>li>.a1{
    text-decoration:none;
}
.left-h>nav>ul>li>a:hover{
    background-color:white;
    color: black;
    border-radius: 3px;
}

.right-h ul{
    display: flex;
    gap:50px;
}
.right-h li{
    list-style: none;
}
.right-h>ul>li>a{
    text-decoration: none;
    color: white;
}

.hero-top{
    width: 100%;
    height:10vh;

}
.hero-movies{
    margin-left: 4%;
}
.hero-movies h2{
    color: white;
    font-size:large;
}
.hero-section{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.box{
    width:140px;
    height:210px;
    border-radius: 4%;
    position: relative;
    overflow: hidden;
}
.box img{
    width:143px;
    height:210px;
}
.box p{
    color:white;
    text-align: center;
    position: absolute;
    width: 100%;
    border-radius:15%;
    bottom: 3px;
    opacity:0;
}
.box:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.box:hover p{
    background-color:rgba(0,0, 0, 0.581);
    transition: all 0.6s ease;
    opacity:1;
}
@media screen and (max-width:1000px){
    .right-h{
        padding-left: 200px;
    }
}
@media screen and (max-width:860px){
    .right-h{
        padding-left:50px;
    }
}
@media screen and (max-width:700px){
    .right-h{
        padding-left:10px;
    }
}
@media  screen and (max-width:620px) {
    .right-h>ul>li>.a2{
        display: none;
    }
    .hero-section{
        justify-content: center;
    }
     .hero-movies{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
@media  screen and (max-width:483px) {
      .left-h ul{
        gap:35px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:20px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
    .hero-section{
        justify-content: center;
    }
     .hero-movies{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
.right-h ul{
    display: flex;
    gap:50px;
}
.right-h li{
    list-style: none;
}
.right-h>ul>li>a{
    text-decoration: none;
    color: white;
}
}

@media  screen and (max-width:440px) {
.main-view{
    width: 100%;
    height: 190px;
}
    .box{
    width:130px;
    height:190px;
    border-radius: 4%;
    position: relative;
    overflow: hidden;
}
.box img{
    width:130px;
    height:190px;
}
}
@media  screen and (max-width:410px) {
.main-view{
    width: 100%;
    height: 168px;
}
    .box{
    width:108px;
    height:168px;
    border-radius: 4%;
    position: relative;
    overflow: hidden;
}
.box img{
    width:108px;
    height:168px;
}
}
@media  screen and (max-width:397px) {
  .left-h ul{
        gap:30px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:20px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }
}
@media  screen and (max-width:353px) {

  .left-h ul{
        gap:25px;
    }
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .main-header{
        gap:18px;
    }
    .right-h>ul>li>.a2{
        display: none;
    }

}
