*{
    padding:0px;
    margin:0px;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header{
    width: 100%;
    height: 8vh;
    background-color: rgba(41, 39, 39, 0.281);
    top:0px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-header img{
  width:5vw;
  height: 7vh;
  border-radius:50%;
}

.left-h ul{
    display: flex;
    gap:50px;
}
.left-h li{
    list-style: none;
}
.left-h>nav>ul>li>a{
    text-decoration: none;
    color: white;
}
.left-h>nav>ul>li>a:hover{
    background-color:white;
    color: black;
    border-radius: 3px;
}

.right-h ul{
    display: flex;
    gap:50px;
}
.right-h li{
    list-style: none;
}
.right-h>ul>li>a{
    text-decoration: none;
    color: white;
}

.hero{
    margin-top: 6vh;
    display: flex;
    margin-left: 5vw;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap:20px;
}
.hero h1{
    text-align: center;
}
.hero img{
    width: 200px;
    height: 300px;
    border-radius: 3%;
}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    gap:10vw;
}
.hero-content video{
    width:1000px;
    height:600px;
    border-radius: 2%;
    object-fit:fill;
}
.hero-cont{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items:start;
    flex-wrap: wrap;
    gap: 4px;
}
@media  screen and (max-width:420px) {
    .right-h>ul>li>a{
        display: none;
    }
    .hero-content video{
    width:300px;
    height: 200px;
    }
}
@media  screen and (max-width:620px) {
    .right-h>ul>li>a{
        display: none;
    }
    .hero-content video{
    width:600px;
    height: 400px;
    }
}

@media  screen and (max-width:800px) {
    .hero-content video{
    width:400px;
    height: 300px;
    }
}
@media  screen and (max-width:960px) {
    .hero-content{
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (max-width:1000px) {
    .hero-content video{
    width:600px;
    height: 300px;
    }
}
@media  screen and (max-width:1360px) {
    .hero-content video{
    width:700px;
    height: 500px;
    }
}
@media screen and (max-width:1000px){
    .right-h{
        padding-left: 200px;
    }
    .hero-content video{
    width:600px;
    height: 400px;
    }
}
@media screen and (max-width:860px){
    .right-h{
        padding-left:50px;
    }
}
@media screen and (max-width:700px){
    .right-h{
        padding-left:10px;
    }
}
@media  screen and (max-width:620px) {
    .right-h>ul>li>a{
        display: none;
    }
    .hero-section{
        justify-content: center;
    }
}
@media  screen and (max-width:483px) {
    .left-h>nav>ul>li>.a1{
        display: none;
    }
    .right-h>ul>li>a{
        display: none;
    }
    .hero-section{
        justify-content: center;
    }
     .hero-movies{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
.right-h ul{
    display: flex;
    gap:50px;
}
.right-h li{
    list-style: none;
}
.right-h>ul>li>a{
    text-decoration: none;
    color: white;
}
    .hero-content video{
    width:310px;
    height: 210px;
    }
}






